In [193]:
import pandas as pd
import numpy as np

In [194]:
dataSet = pd.read_csv("Alzheimer.csv")
dataSet

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
1,51676,Bachelor,61.0,0,0,Yes,Freelance,High,202.21,NaN,never smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4095,68398,Secondary School,82.0,1,0,Yes,Freelance,High,71.97,28.3,never smoked,0
4096,14180,Bachelor,13.0,0,0,No,Farmer,High,103.08,18.6,Unknown,0
4097,44873,Bachelor,81.0,0,0,Yes,Freelance,Normal,125.20,40.0,never smoked,0
4098,19723,Bachelor,35.0,0,0,Yes,Freelance,High,82.99,30.6,never smoked,0
4099,44679,Bachelor,44.0,0,0,Yes,Officer,Normal,85.28,26.2,Unknown,0

# MARK: Data Processing

In [195]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HN              4100 non-null   int64
 1   Education       4100 non-null   object
 2   age             4100 non-null   float64
 3   hypertension    4100 non-null   int64
 4   heart_disease   4100 non-null   int64
 5   family history  4100 non-null   object
 6   Occupation      4100 non-null   object
 7   Triglycerides   4100 non-null   object
 8   Blood Sugar     4100 non-null   float64
 9   BMI             3936 non-null   float64
 10  smoking_status  4100 non-null   object
 11  alzheimer       4100 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 384.5+ KB

In [196]:
dataSet.isna().sum()

HN                  0
Education           0
age                 0
hypertension        0
heart_disease       0
family history      0
Occupation          0
Triglycerides       0
Blood Sugar         0
BMI               164
smoking_status      0
alzheimer           0
dtype: int64

### MARK: เลือกที่จะ drop ทิ้งเพราะว่า Null มีจำนวนไม่เยอะมาก ไม่มีผลต่อ data เท่าที่ควร และ ไม่สามารถหาค่า BMI มาแทนที่ได้เพราะไม่มี weight และ height ของผู้ป่วย

In [197]:
dataSet = dataSet.dropna()
dataSet.isna().sum()

HN                0
Education         0
age               0
hypertension      0
heart_disease     0
family history    0
Occupation        0
Triglycerides     0
Blood Sugar       0
BMI               0
smoking_status    0
alzheimer         0
dtype: int64

### MARK: ตรวจสอบ Class Target จำนวนเหมาะสมกันหรือไม่

In [198]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 1, "alzheimer"]))

Target == 1 -> 202

In [199]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 0, "alzheimer"]))

Target == 1 -> 3734

### MARK: ปรับข้อมูล เป็น 0,1 <- LabelEncoder

In [200]:
from sklearn.preprocessing import LabelEncoder

In [201]:
dataSet.head()

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1
5,66889,Secondary School,81.0,0,0,Yes,Private,Normal,186.21,29.0,formerly smoked,1

In [202]:
label_encoder = LabelEncoder()

In [203]:
dataSet['Education'] = label_encoder.fit_transform(dataSet['Education'])
dataSet['family history'] = label_encoder.fit_transform(dataSet['family history'])
dataSet['Occupation'] = label_encoder.fit_transform(dataSet['Occupation'])
dataSet['Triglycerides'] = label_encoder.fit_transform(dataSet['Triglycerides'])
dataSet['smoking_status'] = label_encoder.fit_transform(dataSet['smoking_status'])

C:\Users\PP\AppData\Local\Temp\ipykernel_20236\447424765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Education'] = label_encoder.fit_transform(dataSet['Education'])
C:\Users\PP\AppData\Local\Temp\ipykernel_20236\447424765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['family history'] = label_encoder.fit_transform(dataSet['family history'])
C:\Users\PP\AppData\Local\Temp\ipykernel_20236\447424765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Occupation'] = label_encoder.fit_transform(dataSet['Occupation'])
C:\Users\PP\AppData\Local\Temp\ipykernel_20236\447424765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Triglycerides'] = label_encoder.fit_transform(dataSet['Triglycerides'])
C:\Users\PP\AppData\Local\Temp\ipykernel_20236\447424765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['smoking_status'] = label_encoder.fit_transform(dataSet['smoking_status'])

In [204]:
dataSet

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,1,67.0,0,1,1,4,1,228.69,36.6,1,1
2,35112,1,80.0,0,1,1,4,0,105.92,32.5,2,1
3,67182,0,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,0,79.0,1,0,1,1,0,174.12,24.0,2,1
5,66889,1,81.0,0,0,1,4,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4095,68398,1,82.0,1,0,1,1,0,71.97,28.3,2,0
4096,14180,0,13.0,0,0,0,0,0,103.08,18.6,0,0
4097,44873,0,81.0,0,0,1,1,1,125.20,40.0,2,0
4098,19723,0,35.0,0,0,1,1,0,82.99,30.6,2,0
4099,44679,0,44.0,0,0,1,3,1,85.28,26.2,0,0

# MARK: แบ่งข้อมูล

In [205]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn import tree
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

### MARK: train_test_split

In [206]:
X = dataSet.drop(['HN', 'alzheimer'], axis=1)#dataSet.drop('alzheimer', axis=1)
y = dataSet["alzheimer"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [207]:
X_train.head()

,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status
2837,0,22.0,0,0,0,4,0,80.72,29.3,0
2069,1,46.0,0,0,1,4,0,78.44,23.9,2
1724,0,42.0,0,0,1,1,1,124.34,34.7,1
1826,0,54.0,0,0,1,3,0,102.61,32.4,0
514,1,9.0,0,0,0,0,1,122.22,17.7,0

In [208]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2755 entries, 2837 to 3323
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Education       2755 non-null   int32
 1   age             2755 non-null   float64
 2   hypertension    2755 non-null   int64
 3   heart_disease   2755 non-null   int64
 4   family history  2755 non-null   int32
 5   Occupation      2755 non-null   int32
 6   Triglycerides   2755 non-null   int32
 7   Blood Sugar     2755 non-null   float64
 8   BMI             2755 non-null   float64
 9   smoking_status  2755 non-null   int32
dtypes: float64(3), int32(5), int64(2)
memory usage: 182.9 KB

In [209]:
y_train.info()

<class 'pandas.core.series.Series'>
Int64Index: 2755 entries, 2837 to 3323
Series name: alzheimer
Non-Null Count  Dtype
--------------  -----
2755 non-null   int64
dtypes: int64(1)
memory usage: 43.0 KB

### SMOTE (Synthetic Minority Over-sampling Technique): วิธีการที่ใช้การสร้างตัวอย่างสัญญาณเทียบเท่าจากคลาสน้อยโดยการผสมคุณลักษณะของตัวอย่างในคลาสน้อย

In [210]:
from imblearn.over_sampling import SMOTE

In [211]:
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

# MARK: Decision tree model Start (Defualt)

In [212]:
clfModel = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced',random_state=42)

In [213]:
clfModel.get_params()

{'ccp_alpha': 0.0,
 'class_weight': 'balanced',
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 42,
 'splitter': 'best'}

In [214]:
clfModel.fit(X_train_smote,y_train_smote)

DecisionTreeClassifier(class_weight='balanced', random_state=42)

In [215]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel.score(X_train_smote,y_train_smote))
# อันเดียวกัน
# y_train_pred = clf.predict(X_train)
# accuracy_score(y_train, y_train_pred)

ตัวอย่างข้อมูลชุดเรียนรู้ -> 1.0

### MARK: Visualize Decision Tree

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel.fit(X_train_smote,y_train_smote))
plt.show()

### MARK: Predict and Score Model

In [ ]:
y_pred = clfModel.predict(X_test)
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_test, y_pred))

In [ ]:
pd.crosstab(y_test, y_pred)

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel.fit(X_test,y_test))
plt.show()

## MARK: หา Best Parameter และ ลองทำ Pruning

In [ ]:
from sklearn.model_selection import GridSearchCV

### MARK: ค้นหา best_params และประเมิน best_accuracy

In [ ]:
param_grid = {
    'max_depth': [None, 2, 4, 6, 8, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2'],
    'criterion': ['gini', 'entropy']
}
treeModel = tree.DecisionTreeClassifier()
# สร้าง Grid Search
grid_search = GridSearchCV(treeModel, param_grid, cv=10, scoring='accuracy')

In [ ]:
grid_search.fit(X_train_smote,y_train_smote)

In [ ]:
best_params = grid_search.best_params_
print("Best Parameters:", best_params)

In [ ]:
best_accuracy = grid_search.best_score_
print("Best Accuracy:", best_accuracy)

In [ ]:
clfModel_BestParam = tree.DecisionTreeClassifier(
    max_depth=best_params['max_depth'],
    min_samples_split=best_params['min_samples_split'],
    min_samples_leaf=best_params['min_samples_leaf'],
    max_features=best_params['max_features'],
    criterion=best_params['criterion']
)

In [ ]:
clfModel_BestParam.fit(X_train_smote, y_train_smote)

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel_BestParam.score(X_train_smote, y_train_smote))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_BestParam.fit(X_train_smote,y_train_smote))
plt.show()

In [ ]:
y_pred = clfModel_BestParam.predict(X_test)
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_test, y_pred))

In [ ]:
pd.crosstab(y_test, y_pred)

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_BestParam.fit(X_test,y_test))
plt.show()

## MARK: feature_importances จากชุดเรียนรู้

In [ ]:
np.array([X.columns.values.tolist(), list(clfModel.feature_importances_)]).T

In [ ]:
feature_names = X.columns.values.tolist()
importances = clfModel.feature_importances_
indices = np.argsort(importances)[::-1]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(range(X.shape[1]), importances[indices], align="center")
plt.xticks(range(X.shape[1]), [feature_names[i] for i in indices], rotation=90)
plt.xlabel("Feature_names")
plt.ylabel("Importances")
plt.title("Feature importances")
plt.show()

### MARK: เลือก Feature importances 4 อันดับแรก เข้า model

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
feature_importances_Select = ['age', 'smoking_status', 'Blood Sugar', 'BMI']

In [ ]:
X_feature_importances = dataSet[feature_importances_Select]
y_feature_importances = dataSet["alzheimer"]
X_trainIm, X_testIm, y_trainIm, y_testIm = train_test_split(X_feature_importances, y_feature_importances, test_size=0.3, random_state=42)

In [ ]:
X_train_smote_Im, y_train_smote_Im = smote.fit_resample(X_trainIm, y_trainIm)

### MARK: Select Feature importances Top 4

In [ ]:
clfModel_Im = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced', random_state=42)

In [ ]:
clfModel_Im.fit(X_train_smote_Im, y_train_smote_Im)

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel_Im.score(X_train_smote_Im, y_train_smote_Im))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_Im.fit(X_train_smote_Im, y_train_smote_Im))
plt.show()

In [ ]:
y_predIm = clfModel_Im.predict(X_testIm)
print("ตัวอย่างข้อมูลทดสอบ ->",accuracy_score(y_testIm, y_predIm))

In [ ]:
pd.crosstab(y_testIm, y_predIm)

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_predIm))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_Im.fit(X_testIm, y_testIm))
plt.show()

## MARK: feature_importances Top 4 + Best param

In [ ]:
clfModel_BestParam = tree.DecisionTreeClassifier(
    max_depth=best_params['max_depth'],
    min_samples_split=best_params['min_samples_split'],
    min_samples_leaf=best_params['min_samples_leaf'],
    max_features=best_params['max_features'],
    criterion=best_params['criterion']
)

In [ ]:
clfModel_BestParam.fit(X_train_smote_Im, y_train_smote_Im)

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel_BestParam.score(X_train_smote_Im, y_train_smote_Im))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_BestParam.fit(X_train_smote_Im,y_train_smote_Im))
plt.show()

In [ ]:
y_pred = clfModel_BestParam.predict(X_testIm)
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_testIm, y_pred))

In [ ]:
pd.crosstab(y_testIm, y_pred)

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_pred))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_BestParam.fit(X_testIm,y_testIm))
plt.show()